.card-click:hover{
    cursor: pointer;
    background-color: rgb(255, 253, 255);
    box-shadow: 1px 1px 3px black;
}

.card-chart{
    padding: -30px;
}

.input-redacao{
    width: 100%;
}

.btn-rascunho{
    text-align: right;
}

.menu-contato{
	padding-left: 20px;
	color: #999999;
	position: absolute;
	bottom: 0;
}.menu-contato ul{
	list-style:none;
	padding: 0;
}

@media screen and (max-width: 600px) {
    .btn-rascunho{
        text-align: left;
        margin-top: 15px;
        margin-bottom: 10px;
    }
}